body {
    font-family: Arial;
}

a:hover {
    text-decoration: none;
}

.top {
    margin: 10px 0px;
    position: absolute;
}

.bilibilisummer-img {
    width: 170px;
    position: absolute;
    left: 170px;
    top: 80px;
}

.sign-in-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.top a {
    margin: 0px 10px;
    color: white;
}

.searchDiv {
    margin: 0px 0px 0px 130px;
    width: 450px;
    display: inline-block;
}

.searchButton {
    margin: 0px 0px 0px -4px;
    padding-top: 2px;
    width: 46px;
    height: 33px;
    border: 0px;
    background-color: #e7e7e7;
}

.glyphicon glyphicon-search {
    color: white;
}

.contributeButton {
    margin-right: 35px;
    width: 100px;
    height: 36px;
    border: 0px;
    background-color: #fb7299;
    color: white;
}
.category a{

}